{% extends 'base.html.twig' %}
{% block title %}
	Réinitialisation de votre mot de passe
{% endblock %}

{% block body %}

	<p>Cliquez ici pour en choisir un de nouveau :</p>

	{{ form_start(form) }}
		{{ form_row(form.password.first) }}
		{{ form_row(form.password.second) }}
		{{ form_row(form.submit) }}
	{{ form_end(form) }}
</p>{% endblock %}
