{# templates/figure/_figures.html.twig #}

{% for figure in figures %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if figure.images|length > 0 %}
                <img src="{{ asset('uploads/images/' ~ figure.images[0].getImageName()) }}" class="card-img-top" alt="{{ figure.name }}">
            {% else %}
                <img src="{{ asset('uploads/images/default.png') }}" class="card-img-top" alt="{{ figure.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ figure.name }}</h5>
                {% if app.user and app.user == figure.getAuthor() %}
                <a href="{{ path('app_figure_edit', {'slug': figure.slug}) }}" class="btn btn-primary">
                    <i class="bi bi-pencil"></i>
                </a>
                <button class="btn btn-danger" type="submit" form="delete-form-{{ figure.id }}">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <form method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette figure?');" id="delete-form-{{ figure.id }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                </form>
                  {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
