{# templates/figure/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Figures{% endblock %}
{# 
{% block body %}
    <div class="container">
        <h1>Figures</h1>
        <div class="row" id="figures-container">
            {% include 'figure/_figures.html.twig' with {'figures': figures|slice(0, 6)} %}
        </div>
        {% if figures|length > 6 %}
            <button id="load-more-btn" class="btn btn-primary mt-4">Load more</button>
        {% endif %}
    </div>
{% endblock %} #}

















{# {% extends 'base.html.twig' %}

{% block title %}Liste des figures emblématiques en snow{% endblock %}

{% block body %}
    <h1>Liste des Figures</h1>
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Slug</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for figure in figures %}
                <tr>
                    <td><a href="{{ path('app_figure_show', {'slug': figure.slug}) }}">{{ figure.name }}</a></td>
                    <td>{{ figure.description }}</td>
                    <td>{{ figure.slug }}</td>
                    <td>
                        <a href="{{ path('app_figure_edit', {'slug': figure.slug}) }}" class="btn btn-primary">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button class="btn btn-danger" type="submit" form="delete-form-{{ figure.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                <form method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette figure?');" id="delete-form-{{ figure.id }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                </form>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_figure_new') }}" class="btn btn-primary">Ajouter une nouvelle figure</a>
{% endblock %} #}
