{# templates/figure/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle Figure{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Figure</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.slug) }}
    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
