{# templates/figure/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la Figure{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1>{{ figure.name }}</h1>
                </div>
                <div class="mt-4">
                    <div class="row" style="flex-wrap: nowrap;">
                        {% for image in figure.images %}
                            <div class="col-md-4 mb-3">
                                <img src="{{ asset('uploads/images/' ~ image.imageName) }}" alt="{{ image.imageName }}" class="img-fluid img-thumbnail">
                            </div>
                        {% endfor %}
                        {% for video in figure.videos %}
                            <div class="col-md-4 mb-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.videoId }}" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="mt-4">
                    <p>{{ figure.description }}</p>
                </div>

                <div class="mt-4">
                    <div class="form-group">
                        <label for="category">Catégorie:</label>
                        <select id="category" name="category" class="form-control">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if category.id == figure.category.id %} selected="selected" {% endif %}>
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="mt-4">
                    <a href="{{ path('app_figure_edit', {'slug': figure.slug}) }}" class="btn btn-primary mr-2">
                        <i class="bi bi-pencil"></i>
                        Modifier
                    </a>
                    <form method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette figure?');" style="display: inline-block;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                        <button class="btn btn-danger" type="submit">
                            <i class="fas fa-trash-alt"></i>
                            Supprimer
                        </button>
                    </form>
                </div>
                
                <div class="mt-4">
                    <hr>
                    <h6>Commentaires:</h6>
                    <ul class="list-unstyled" id="comments-container">
                        {% include 'figure/_comments.html.twig' with {'comments': figure.comments|slice(0, 3)} %}
                    </ul>
                                       
                    <button id="load-more-comments" class="btn btn-primary" data-figure-slug="{{ figure.slug }}">Charger plus</button>
                    <button id="load-less-comments" class="btn btn-secondary" style="display:none;">Charger moins</button>
                    {% if app.user %}
                        <h5>Ajouter un commentaire</h5>
                        {{ form_start(form, {'action': path('comment_new', {'figure_slug': figure.slug})}) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                        {{ form_end(form) }}
                    {% else %}
                        <p>Vous devez être connecté pour ajouter un commentaire.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

